input[type="radio"] {
    display:none;
}
label {
  width:23%;
  float:left;
  color:#222222;
  margin-bottom:30px;
  cursor:pointer;
}
input[type="radio"][id="corpo01"]:checked + label {
  background:transparent;
}
input[type="radio"][id="corpo01"]:checked ~ .corpo01, input[type="radio"][id="corpo01"]:checked ~ .corpo01 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="corpo02"]:checked + label {
  background:transparent;
}
input[type="radio"][id="corpo02"]:checked ~ .corpo02, input[type="radio"][id="corpo02"]:checked ~ .corpo02 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
input[type="radio"][id="corpo03"]:checked + label {
  background:transparent;
}
input[type="radio"][id="corpo03"]:checked ~ .corpo03, input[type="radio"][id="corpo03"]:checked ~ .corpo03 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

input[type="radio"][id="corpo04"]:checked + label {
  background:transparent;
}
input[type="radio"][id="corpo04"]:checked ~ .corpo04, input[type="radio"][id="corpo04"]:checked ~ .corpo04 {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}

.tile {
  width:22%;
  height:auto;
  float:left;
  transition:all 0.3s;
  margin:0.5%;
  padding:0.5%;
}
.corpo01 {
  background:transparent;
}
.corpo02 {
  background: transparent
}
.corpo03 {
  background:transparent;
}
.corpo04 {
  background:transparent;
}

.corpoBg {
  background: #fff;
    border-radius: 8px;
    padding: 10px 20px;
        box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}
