.selecioneProdutoHome {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 10px;

}

.produtosHome {
  position: relative;
  top: 90px;
  right: 70px;
}

.produtoHomeRegen {
  margin-left: 70px
}

.produtoHomeZoom
{
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);

}

.produtoHomeZoom:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.colorBlack {
  color: black
}

.colorBlackTitulo {
  color: #303030;
  font-weight: 800;
  padding-top: 20px
}

.colorRedTitulo {
  color: #E63C3C;
  font-weight: 800;
  padding-top: 20px
}


.colorWhiteTitulo {
  color: #fff;
  font-weight: 800;
  padding-top: 20px;
  font-size: 60px
}

.corpoBgMissao {
  background: #fff;
    border-radius: 8px;
    padding: 10px 10px;

}
@media screen and (max-width: 1800px) {   .page-header {
    height: 200vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
} }

@media screen and (max-width: 991px) {   .page-header {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    border: 0;
} }

.boldTexto {
  font-weight: 800
}
