
#portfolio {
    margin: 1rem 0;
    -webkit-column-count:5;
    -moz-column-count:5;
    column-count: 5;

}
.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover {

}

.scale-anm {
  transform: scale(1);
}


.tile img {

    height: auto;
    margin-bottom: 1rem;

}

.btn {
  box-shadow: 0 0 0 0;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
  background-color: #e11535;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
  background-color: #e11535;
}
